@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*,::after,::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



li, a {
    font-family: Roboto, 'sans-serif';
    color:rgb(208, 218, 241);
    font-size:20px;
    text-decoration: none;
}



/* navbar */



header {
    /*position:fixed;*/
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:center;
    padding: 30px 10%;
    margin-top:-5px;
    background: linear-gradient(170deg, rgba(23, 9, 76, 0.842) 0%, rgb(10, 4, 45) 60%, rgba(162, 27, 27, 0) 100%);
    transition: all 0.3s ease 0s;
}


.logo {
    cursor:pointer;
    text-decoration: none;
    padding: 10px;
}

.nav_links, .logo {
    list-style: none;
}

.nav_links li {
    float: right;
    display: block;
    padding: 0 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    text-shadow: 0 0 4px rgb(255, 255, 255);
}

.nav_links li a:hover {

    color:rgba(181, 203, 252, 0.751);
    transition: all 0.3s ease 0s;
    text-decoration: underline;
}

.nav_links li a:visited a:active {
    color:rgb(208, 218, 241);
    transition: all 0.3s ease 0s;
}

@media only screen and (max-width:690px)  {
    .logo {
        font-size: 6vw;
    }
    
    .nav_links li {
        float: right;
        display: block;
        padding: 0 10px;
    }
    

    .nav_links li a {
        font-size: 3vw;
        transition: all 0.3s ease 0s;
    }

    header {
        justify-content: center;
        transition: 0.2s ease-in-out;
        margin-top:-20px;
        padding: 10px 16%;

    }
    .click{
        width:0px;
    }
}


/* main */
body {
    background-color: rgb(11, 1, 31);
    
}
.main{
    padding:100px 100px;

}


h1 {
    text-align: center;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(212, 235, 255);
    text-shadow: 0 0 7px #fff;
}

.redacted {
    font-family: 'Consolas';
    color: rgb(255, 0, 0);
    background-color: rgb(50, 40, 40);
    text-shadow: 0 0 5px rgb(255, 0, 0);
}

.txtc {
    margin: 15px 10%;
    padding: 0;
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    transition: 0.2s ease-in-out;
}

.dvdr {
    filter: drop-shadow(0 0 5px rgb(255, 255, 255));
}

.mainlinks{
    color: rgb(163, 204, 255);
}


@media only screen and (max-width:690px) {
    .txtc , .redacted, .mainlinks {
        font-size: 15px;
        transition: 0.2s ease-in-out;
        margin: 15px 0
    }
    .main{
        padding:100px 50px;
    
    }
    
}

/* second */

.portf{
    background: linear-gradient(265deg, rgba(23, 9, 76, 0.842) 0%, rgba(14, 4, 49, 0.842) 50%, rgba(23, 9, 76, 0.842) 100%);
    padding:100px;
}

.portf ul li{
    margin: 5px 15%;
    padding: 10px;
}

.portf a{
    color: rgb(163, 204, 255);
}

@media only screen and (max-width:690px) {
    .portf{
        padding:100px 50px;
    
    }
    
}

/* third */

.todo{
    background-color: rgb(11, 1, 31);
    padding:100px;
    
}

.todolist{
    margin: 0 0px;
    transition: 0.6s ease-in-out;
}

.todolist ul {
    column-count: 2;
    column-gap: 0;
    width:100%;
    margin:0;
    transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
}

.todo ul li{
    width: 70%;
    margin: 5px 30%;
    padding: 20px;
    transition: 0.6s ease-in-out;
}

@media only screen and (max-width: 690px){
    .todo{
        background-color: rgb(11, 1, 31);
        padding:100px 50px;
    }
    .todolist ul {
        column-count: 1;
        column-gap: 0;
        width:100%;
        margin:0;
        transition: 0.6s ease-in-out;
    }
    .todolist ul li {
        font-size:3vw;
        transition: 0.6s ease-in-out;
    }
    .todo ul li {
        padding: 10px;
        margin: 5px 5%;
        transition: 0.6s ease-in-out;
    }
}
/*urdl*/




/* links */

.links{
    background: linear-gradient( rgba(23, 9, 76, 0.842) 50%, rgb(11, 1, 31) 100%);
   
    padding:100px;
    height: 70vh;
}

.links ul {
    margin: 5px 15%;
    list-style: none;
    padding:40px;
    
}

.links ul li{
    margin: 3% 0%;
    padding: 10px;
    text-align: center;
    
}

.links a{
    color:rgb(214, 156, 226);
    font-size: 30px;
}

.ongoing {
    color:rgb(255, 255, 131);
}

.dropped {
    color:rgb(240, 105, 92);
}




/* scrollbar*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(3, 2, 10);
}s

::-webkit-scrollbar-thumb {
    background: rgb(43, 42, 71);
    border-radius: 50px;
}


::-webkit-scrollbar-thumb:hover {
    background: rgb(31, 31, 54);
}
