@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*,::after,::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes gradientMove {
    0%  {background: linear-gradient(rgb(68, 99, 183) 0%, rgb(36, 17, 105) 100%)}
    50% {background: linear-gradient(rgb(36, 17, 105) 0%, rgb(68, 99, 183) 100%)}
    100% {background: linear-gradient(rgb(68, 99, 183) 0%, rgb(36, 17, 105) 100%)}

    
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		transform:rotate(36)
	}
}


body {
    background-size: 400% 400%;
    background: linear-gradient(rgb(68, 99, 183) 0%, rgb(36, 17, 105) 100%);
    background-repeat:no-repeat;
    

    width:100%;
    height:100vh;
    overflow-x: hidden;

    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;

    
}

.container {
    background-color:rgba(32, 32, 32,0.3);
    padding:60px;
    width:40%;
    max-width:500px;

    border-style:solid;
    border-radius: 50px;
    border-width: thick;
    border-color: rgb(32, 32, 32);
    
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:whitesmoke;
    font-weight: bold;
}

.drawer {
    background-color:rgb(255, 255, 255);
    margin-top:20px;
    border-radius: 15px;

    font-weight: lighter;
}

.drawer p {
    color: black; 
    font-size: 30px;
}

.button {
    cursor:pointer;

    width:80%;
    border: none;
    font-size: 30px;

    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black; 
    font-weight: lighter;
    font-size:1.8rem;
}

.button:hover, .button2:hover {
    transition: 0.2s ease-out;
    background-color: rgb(52, 52, 52);
    color: whitesmoke;
}

.button2 {
    cursor:pointer;

    width: 50%;
    max-width:100px;
    border: none;
    font-size: 15px;

    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black; 
    font-weight: bold;
}



.ratings {
    display: none;
}
 
.ratings.tog {
    display: block;
}

.ratingContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#header {
    margin-top: -20px !important;
}

@media only screen and (max-width: 800px) {
    body {
        flex-direction: column;
        height:200vh;
    }
    
    .container {
        width: 60%;
    }
    
    
}
